.song-list {
    display: flex;
    flex-direction: column;
}

.song-card-wrapper {
    margin: 10px 30px;
}

.song-card {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.song-card>* {
    flex: 1
}

.song-title {
    font-weight: bold;
}

.audio-player {
    display: flex;
    justify-content: center;
}